<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Timesheet Automation
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">
            <span role="img" aria-label="Home" title="Home">Home</span>
        </a>  
        {% if user.is_authenticated %}
            <a href="{% url 'customer_list' %}">
                <span role="img" aria-label="Customers" title="Customers">Customers</span>
            </a> |
            <a href="{% url 'technicians_list'%}">
                <span role="img" aria-label="Technicians" title="Technicians">Technician</span>
            </a> | 
            <a href="{% url 'timesheet_list' %}">
                <span role="img" aria-label="Timesheets" title="Timesheets">Timesheets</span>
            </a> |  
            <form class="logout" action="{% url 'users:logout_view' %}" method="post">
                {% csrf_token %} 
                <button class="logout-button" aria-label="User Logout" title="User Logout">👋</button>
            </form>
        {% else %}
            <a href="{% url 'users:register_view' %}">
                <span role="img" aria-label="User Registration" title="User Registration">🚀</span>
            </a> | 
            <a href="{% url 'users:login_view' %}">
                <span role="img" aria-label="User Login" title="User Login">🔏</span>
            </a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>